{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle collection' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Welcome</h1>
        </div>
    </div>
{% endblock %}
