{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle collection' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center">
            <p>Bibliothèque de Yann</p>
            <p>Liste de souhaits de Yann</p>
        </div>
        <div class="col-4 text-center">
            <p>Bibliothèque de Thomas</p>
            <p>Liste de souhaits de Thomas</p>
        </div>
        <div class="col-4 text-center">
            <p>Bibliothèque de Julie</p>
            <p>Liste de souhaits de Julie</p>
        </div>
    </div>
{% endblock %}
