<h1>Bonjour, veuillez confirmer votre e-mail</h1>

<p>
    Merci de confirmer votre e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>
