{% extends 'layouts/base.html.twig' %}

{% block title %}Liste des livres enregistrés{% endblock %}

{% block body %}
    {% set bookNumber = books | length %}

    <h1 class="text-center text-muted mb-6"> Les livres enregistrés</h1>

    {% if bookNumber > 0 %}

        <div class="row mt-6 mb-5 bg-white shadow rounded">
            {% for row in books|batch(bookNumber/3) %}
                <div class="col-xl-4 col-md-12">
                    <article>
                        {% for book in row %}
                            {% include 'layouts/partials/_bookcard.html.twig' %}
                        {% endfor %}
                    </article>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center mt-5 h1"> Aucun livre ! <a href="{{ path('app_books_create') }}">Ajouter un premier livre ici !</a></p>
    {% endif %}

{% endblock %}
