{% extends 'layouts/base.html.twig' %}

{% block title 'New Author' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Create Author</h1>

            {{ include('authors/_form.html.twig') }}
        </div>
    </div>


{% endblock %}