{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvel⋅le auteur⋅trice' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Ajouter un⋅e auteur⋅trice</h1>

            {{ include('authors/_form.html.twig') }}
        </div>
    </div>


{% endblock %}