{% extends 'layouts/base.html.twig' %}

{% block title 'Edition de l\'auteur⋅trice ' ~ author.fullName %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Editer l'auteur⋅trice</h1>

            {{ include('authors/_form.html.twig', {"submitButtonText": "Editer l'auteur⋅trice"}) }}
        </div>
    </div>
{% endblock %}