{% extends 'layouts/base.html.twig' %}

{% block title 'Edition du cadeau' ~ gift.name %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Editer le cadeau</h1>

            {{ include('gifts/_form.html.twig', {"submitButtonText": "Editer le cadeau"}) }}
        </div>
    </div>
{% endblock %}