{{ form_start(form) }}
{{ form_widget(form) }}
<div class="form-inline">
    <input type="submit" value="{{ submitButtonText ?? 'Ajouter la collection' }}" class="btn btn-primary mx-auto" formnovalidate>
</div>
{{ form_end(form) }}