{% extends 'layouts/base.html.twig' %}

{% block title 'Edition de la collection ' ~ collection.name %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Editer la collection</h1>

        {{ include('collection/_form.html.twig', {"submitButtonText": "Editer la collection"}) }}
    </div>
</div>
{% endblock %}
