{% extends 'layouts/base.html.twig' %}

{% block title %}Liste des collections existantes{% endblock %}

{% block body %}
    {% set collectionNumber = collections | length %}

    <h1 class="text-center text-muted mb-6"> Les livres enregistrés</h1>

    {% if collectionNumber > 0 %}

        <div class="row mt-6 mb-5 bg-white shadow rounded">
            {% for row in collections|batch(collectionNumber/3) %}
                <div class="col-xl-4 col-md-12">
                    <article>
                        {% for collection in row %}
                            <h2 class="h5 px-3 pt-3"><a href="{{ path('app_collections_show', {'id':collection.id}) }}"
                                                        class="text-muted text-decoration-none text-secondary"> {{ collection.name }}</a>
                            </h2>
                        {% endfor %}
                    </article>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center mt-5 h1"> No collection yet. <a href="{{ path('app_collections_create') }}">Be the first!</a></p>
    {% endif %}

{% endblock %}
