{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page demandée n'existe pas. Vérifiez l'adresse saisie. <a href="{{ path('app_home') }}">Retour à l'acceuil</a>.
    </p>
{% endblock %}